.listingCard {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 1rem;
  flex-basis: 12.5rem;
}

.listingCard figure {
  background-color: grey;
  height: 100vw;
  width: 100vw;
  position: relative;
  flex: 0 0 auto;
}

.listingCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listingCardContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

@media (min-width: 768px) {
  .listingCard {
    flex-direction: row-reverse;
  }

  .listingCard figure {
    height: 12.5rem;
    width: 12.5rem;
  }
}
